<mat-toolbar color="primary">

  <a routerLink="/" style="margin-left: 0.1%;" ><mat-icon [ngStyle]="{'color':'white'}">emoji_people</mat-icon></a>
  <span>CulturalOffers</span>

  <span class="example-spacer"> </span>
  <a routerLink="/administrator/add-administrator" style="margin-left: 0.3%;" ><button mat-flat-button color="primary" id="add-admin-navigate">Add Administrator</button></a>
  <a routerLink="/administrator/dashboard" style="margin-left: 0.3%;" ><button mat-flat-button color="primary" id="admin-dashboard-navigate">Administrator Dashboard</button></a>
  <a routerLink="/administrator/manage-categories/dashboard" style="margin-left: 0.3%;"><button mat-flat-button color="primary">Manage categories</button></a>
  <a routerLink="/administrator/manage-subcategories/dashboard" style="margin-left: 0.3%"><button mat-flat-button color="primary">Manage subcategories</button></a>
  <a routerLink="/newsletter/dashboard" style="margin-left: 0.3%;" ><button mat-flat-button color="primary" >Newsletter</button></a>
  <a routerLink="/newsletter/add-newsletter" style="margin-left: 0.3%;" ><button mat-flat-button color="primary" >Publish newsletter</button></a>
  <a routerLink="/administrator/culturalOfferDashboard" style="margin-left: 0.3%;" ><button mat-flat-button color="primary" >Cultural Offer Dashboard</button></a>
  <a routerLink="/administrator/addCulturalOffer" style="margin-left: 0.3%;" ><button mat-flat-button color="primary" >Add Cultural Offer</button></a>



  <a routerLink="/administrator/view-profile" style="margin-left: 0.5%;" id="view-profile"><mat-icon [ngStyle]="{'color':'white'}">face</mat-icon></a>
  <a routerLink="/" style="margin-left: 0.5%;" ><mat-icon (click)="signOut()" [ngStyle]="{'color':'white'}">exit_to_app</mat-icon></a>

</mat-toolbar>
