<mat-toolbar color="primary">

  <a routerLink="/" style="margin-left: 3%;" ><mat-icon [ngStyle]="{'color':'white'}">emoji_people</mat-icon></a>
  <span>CulturalOffers</span>

  <span class="example-spacer"> </span>
  <a routerLink="/administrator/add-administrator" style="margin-left: 3%;" ><button mat-flat-button color="primary" >Add Administrator</button></a>
  <a routerLink="/administrator/dashboard" style="margin-left: 1%;" ><button mat-flat-button color="primary" >Administrator Dashboard</button></a>
  <a routerLink="/administrator/manage-categories/dashboard" style="margin-left: 1%;"><button mat-flat-button color="primary">Manage categories</button></a>
  <a routerLink="/administrator/manage-subcategories/dashboard" style="margin-left: 1%"><button mat-flat-button color="primary">Manage subcategories</button></a>
  <a routerLink="/newsletter/dashboard" style="margin-left: 1%;" ><button mat-flat-button color="primary" >Newsletter</button></a>
  <a routerLink="/newsletter/add-newsletter" style="margin-left: 1%;" ><button mat-flat-button color="primary" >Publish newsletter</button></a>
  <a routerLink="/administrator/culturalOfferDashboard" style="margin-left: 1%;" ><button mat-flat-button color="primary" >Cultural Offer Dashboard</button></a>


  <a routerLink="/administrator/view-profile" style="margin-left: 5%;" ><mat-icon [ngStyle]="{'color':'white'}">face</mat-icon></a>
  <a routerLink="/" style="margin-left: 2%;" ><mat-icon (click)="signOut()" [ngStyle]="{'color':'white'}">exit_to_app</mat-icon></a>

</mat-toolbar>
